html {
  body {
    .App {
      width: 95vw;
      margin: 1em auto;
      max-width: 900px;
    }
    .App > * {
      margin-bottom: 1em;
    }
    @include backgroundColour;
    font: 100% $font-stack;
    color: $primary-color;
    .row {
      margin-bottom: 2em;
    }
    .search-input {
      border: 1px solid #344050;
      background-color: $light-card-background;
      color: $primary-color;
      &:focus {
        background-color: $focus-form-background;
        color: $primary-color;
      }
    }
    .active.carousel-item,
    .carousel-item-next,
    .carousel-item-prev {
      height: 25.4em;
      img {
        border-radius: $globalRadius;
        filter: brightness(35%);
      }
    }
    .highcharts-container {
      border-radius: $globalRadius;
    }
    .outstandingShare {
      text-align: center;
      font-size: xx-large;
    }
    .outstandingShareTitle {
      text-align: center;
      margin-top: 2.5em;
    }
    #newsAndLinks {
      display: flex;
      > .col {
        padding-right: 0;
      }
    }
    .carousel.slide {
      background: $light-card-background;
      border-radius: $globalRadius;
    }
  }
}